body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #212121;
}

.return-container {
    display: flex;
    justify-content: flex-end;
}

#return-button {
    border-radius: 5px;
}

.header-container {
    position: sticky; 
    top: 0;
    z-index: 999; /* Ensure it's above other content */
}

.profile-container {
    width: 40vw;
    min-height: 80%;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    background-color: #474747;
}


.profile-image-container{
    width: 100px;
    height: 100px;
    margin:auto;
    border: 2px solid black;
    border-radius: 50%;
    background-color: violet;
    padding:20px;
    margin-bottom: 10px;
}

.image {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 125px; 
    height: 125px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.text-headers{
    display:flex;
    justify-content: center;
}

.text-username{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
}

.text{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: white;
}

/* User Tweet Container */


/* .list-size{
    list-style: none;
    width: auto;
    height: 100px;
    background-color: aqua;
    margin: 20px;
} */

.user-tweet-container {
    max-height: 500px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    margin-top: 20px; /* Add some top margin for spacing */
    margin-left: -40px;
}

.post {
    background-color: #2E2E2E;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex; 
    flex-direction: column; 
}

.post-head{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.post-head-user{
    margin-left: 20px;
    color: white;
}

.profile-picture{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.post p {
    color: white;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    flex-grow: 1; 
}
.postBtn {
    background-color: #333;
    color: #fff;
    border: none;
    margin-left: 4vh;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.postBtn:hover {
    background-color: #555;
}
form {
    margin-top: 5vh;
}

#postsContainer .placeholder-text {
    margin-top: 10px;
    margin-left: 4vh;
    color: #666;
}

.likeBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
    min-width: 70px;
}
.likeBtn:hover {
    background-color: #2980b9;
}

.likeCount {
    margin-left: auto; 
    color: #666;
}