* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgb(207, 233, 255);
    margin: 0;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

#username-display{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#username-display:hover {
    color: dodgerblue; 
    text-decoration:none; 
    cursor:pointer;  
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

/* SIDEBAR */

#sidebar {
    width: 25%;
    /*width: 20%*/
    /*min-width: 270px;*/
    height: 100%;
    background-color: #f1f1f1;
    float: left;
    position: fixed;
    z-index: 2;
}

#profile-container {
    padding: 20px;
    height: 30vh;
    text-align: center;
    background-color: lightcoral;
}

#profile-picture-container {
    width: 100%; 
    height: 15vh;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 150px; 
    height: 150px;
    border-radius: 100%;
}

#username-container {
    width: 100%; 
    height: 10vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-out-container {
    width: 100%; 
    height: 2.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#close-menu {
    display: flex;
    justify-content: flex-end;
}

#close-menu-button {
    background-color: white;
    padding: 5px;
    border-radius: 25%;
}

#users-container {
    padding: 20px;
    height: 30vh;
    background-color: lightcyan;
}

.search-container {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.user-list {
    display:flex;
}

.searchBox {
    border: none;
    padding: 10px;
    flex: 1;
    overflow: hidden;
}

#clearButton {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}   

/* 
.user-follow {
    margin-bottom: 10px;
}

.followButton,
.unfollowButton {
    display: inline-block;
    text-align: center;
    width: 100px;
    min-width: 100px;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.followButton {
    color: black;
    background-color: white;
}

.followButton:hover {
    background-color: lightgray;
}

.unfollowButton {
    
}

.unfollowButton:hover {
    color: red;
    border-color: red;
} */

#trending-container {
    padding: 20px;
    border-top: 1px solid #ccc;
    height: 30vh;
    background-color: lightgoldenrodyellow;
}

/* HOME PAGE */

ul {
    list-style-type: none;
}

#desktop-nav {
    width: 75%;
    /*width: 80%*/
    /*min-width: 810px;*/
    height: 1000vh;
    background-color: #bbbbbb;
    float: right;
}

#desktop-header {
    display: flex;
    background-color: lightslategrey;
    position: fixed;
    width: 75%;
    /* width: 80% */
    /*min-width: 810px;*/
    height: 50px;
    z-index: 1;
}

#header-menu {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

#close-menu {
    visibility: hidden;
}

#small-menu {
    visibility: hidden;
    width: 0%;
    size: 10%;
}

#small-pic {
    width: 100%; 
    height: 100%;
    z-index: 0;
}

.website-logo {
    width: 50px;
    height: 50px;
}


/* POST BAR */

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex; 
    flex-direction: column; 
}

.post-head{
    margin: 10px 0px;
}

.post-head-user{
    margin-left:20px;
    color:blue;
}

.profile-picture{
    border-radius: 100%;
}

.post p {
    color: #666;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    flex-grow: 1; 
}
.postBtn {
    background-color: #333;
    color: #fff;
    border: none;
    margin-left: 4vh;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.postBtn:hover {
    background-color: #555;
}
form {
    margin-top: 5vh;
}
form input[type="text"],
form textarea {
    width: 90%;
    padding: 10px;
    margin-left: 4vh;
    margin-bottom: 10px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
#postsContainer .placeholder-text {
    margin-top: 10px;
    margin-left: 4vh;
    color: #666;
}


.likeBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
}
.likeBtn:hover {
    background-color: #2980b9;
}

.likeCount {
    margin-left: auto; 
    color: #666;
}

@media only screen and (max-width: 700px) {
/* Mobile Screen Size*/
    #sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        top: 0;
        left: -80%;
        overflow-x: hidden;
        background-color: #f1f1f1;
        transition: transform 0.3s ease;
        transform: translateX(0);
        z-index: 3;
    }
    
    #sidebar.show-sidebar {
        transform: translateX(100%);
    }

    #desktop-nav {
        width: 100%;
        position: relative; /* Adjusted position property */
        z-index: 2; /* Lower z-index to appear below sidebar */
    }
    #desktop-header {
        width: 100%;
        min-width: unset;
        position: relative;
    }

    #small-menu {
        visibility: visible;
        width: 10%;
        size: 10%;
    }

    #header-menu {
        width: 90%;
    }
    
    #close-menu {
        visibility: visible;
    }
}